*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 60px ;
}


input{
    color: grey;
    width: 100%;
    font-size: 1.2rem;
}

h2{
    font-size: 60px;
    text-align: center;
}

.card{
 text-align: center;
 border:  1px solid grey;
 border-radius: 6px;
 overflow: hidden;
 margin-bottom: 10px;
 margin-right: 10px;
}

.card-grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 2px;
   grid-template-rows: repeat(1,1fr);
   grid-auto-flow: dense;

  
}

.card p{
    padding: 5px;
    text-align: center;
    color: ivory;
}

.card img {
    max-height: 270px;
}

body{
   background-color: indigo;
}